$font: 'EB Garamond', serif;
$fontLandingPage : 'Source Serif Pro', serif;
$titleLandingPage:'Yeseva One', cursive;
$centerText: center;
$fontWeight400:400;
$fontWeight800:800;
$shadeOfBlack: black;
$shadeOfBlue:rgb(15, 37, 56);
$imgWidth100percent:100%;

.page{
  background:linear-gradient( to bottom left, #3b475a 2%, #68778e,#7e8da5,#7e8da5,#68778e, #3b475a);
  filter: brightness(110%);
  padding: 2.25rem 0;
}
.text{
  font-family: $font;
  font-weight: $fontWeight400 !important;
  letter-spacing: -.25px;
  font-size: 1.58rem;
  line-height: 1.4rem;
  filter: contrast(120%)brightness(170%);
  text-shadow: 0 0 .15px $shadeOfBlack;
  color: $shadeOfBlack;
}
.text_descr{
  font-size: 1.25rem !important;
  line-height: 1.4rem !important;
}
.li_text,.name_type_guard{
  font-family: $font;
  font-weight: $fontWeight800;
  letter-spacing: -.25px;
  font-size: 1.5rem;
  line-height: 1.6rem;
  text-shadow: 0 0 .15px $shadeOfBlack;
  color: $shadeOfBlack;
  padding-bottom: 0.85%;
}
.emphasized{
  font-family: $font;
  font-weight: $fontWeight800 !important;
  letter-spacing: -1.25px;
  color: $shadeOfBlack;
  text-decoration: none !important;
}
img{
  filter: brightness(80%) contrast(100%)!important;
  background-color: transparent;
  box-shadow: 0 0 10px $shadeOfBlack, 0.5px 0.5px 4px $shadeOfBlack;
}
h1{
  margin-top: 0 !important;
  font-family: 'Yeseva One', cursive;
  text-shadow: -.75px 1px .75px $shadeOfBlack;
  color: $shadeOfBlack;
  font-size: 2.2rem;
  background: transparent;
  font-weight: $fontWeight400;
  letter-spacing: -1.5px;
}
.place_h1{
  padding: 5px 0;
  margin-bottom: 1rem;
}
h2,h3{
  font-family: 'EB Garamond', serif;
  font-weight: $fontWeight800 !important;
  padding: 1% 0;
  color:$shadeOfBlack;
}
h3{
  line-height: 1.6rem;
}
h4{
  font-family: $font;
  color: $shadeOfBlack;
  display: block;
  padding-bottom: 0.5%;
  text-shadow: 0.9px 1px $shadeOfBlue;
  font-weight: $fontWeight800;
  margin-top: -2%;
  margin-bottom: 0;
}
h6{
  font-family: $font;
  font-weight: $fontWeight800 !important;
  padding: 1% 0;
  font-size: 1.58rem;
  line-height: 1.6rem;
  text-shadow: 0 0 0.15px $shadeOfBlack;
  color:$shadeOfBlack;
  text-decoration: underline;
  filter: contrast(120%) brightness(170%);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.beautiful_block{
  background: transparent;
  padding: 0.5%;
}
.type_guard_beautiful_block{
  padding: 0.5%;
  border: 3px solid rgba(250, 250, 250, 0.23);
  box-shadow: 0 0 3px 1px $shadeOfBlue;
}
.block_two{
  clear: left;
}
.page{
  li{padding-bottom: 0.8%;}
  ul li:before {
    content:"·";
    font-size:70px;
    vertical-align: text-top;
    color: $shadeOfBlack;
    text-shadow:  1px 1px .5px #797777;
    margin-bottom: 0 !important;
  }
  .import{
    ul li:before {
      content:"»";
      font-size:40px !important;
      vertical-align: text-top;
      color: $shadeOfBlack;
      margin-bottom: 0 !important;
    }
  }
  ul{
    list-style-type:none !important;
    margin-left: -6%;
  }
  ul ul li:before {
    color: rgba(0, 0, 0, 0.8) !important;
    text-shadow:  none;
    margin-left: 2%;
  }
}
label{
  font-weight: $fontWeight800;
  font-size: 1.25rem;
  text-shadow: 0.5px 0.5px 1px $shadeOfBlue;
  color: $shadeOfBlue;
  font-family: $font;
}
input{
  padding: 20px 10px;
  min-height: 1.5rem;
  margin-bottom: 1%;
}
input,textarea{
  background: #cfdde8;
  box-shadow: 2px 2px 2px $shadeOfBlue;
  font-weight: 700;
}
input:hover, textarea:hover{
  box-shadow: 7px 7px 7px $shadeOfBlue;
}
textarea{
  height: 18vh !important;
}
#LandingPage{
  h2{
    text-decoration: underline;
    text-align: $centerText;
    font-family: $titleLandingPage;
    padding-bottom: 2%;
    text-shadow: 2px 2.5px 2.5px $shadeOfBlue;
    color: rgba(255, 255, 255, 0.86);
    font-size: 2.2rem;
    background: transparent;
    font-weight: $fontWeight400;
    letter-spacing: -.5px;
    padding-left: 0;
  }
  .textLandingPage{
    font-weight: $fontWeight400;
    font-size: 1.5rem;
    text-align: $centerText;
    font-family: $fontLandingPage;
  }
  #Home{
    height: auto;
    background: url(../../static/LandingPage/ооо.jpg) 100% 100% no-repeat;
    background-size: 100% 100% ;
    filter: brightness(85%);
    animation: anim 40s  ease-out infinite;

    @keyframes anim {
      0% {
        background: url(../../static/LandingPage/666.jpg) no-repeat;
        background-size: 100% 100% ;
      }
      50% {
        background: url(../../static/LandingPage/99.jpg) no-repeat;
        background-size: 100% 100%;
      }
      100% {
        background: url(../../static/LandingPage/ооо.jpg) no-repeat;
        background-size: 100% 100% ;
      }
    }
    img{
      width:120%;
      margin-left:-8%;
      padding: 2% 0 0 0;
      box-shadow: none;
      filter: contrast(120%) !important;
    }
    .title_guard{
      padding: 6% 0 0 0;
      font-family: 'Lobster', cursive;
      font-size: 3.7rem;
      font-weight: $fontWeight400;
      letter-spacing: 3.5px;
      transform: scale(1, 1.25);
      color: #65acdc;
      margin-left: -6%;
      text-shadow: -1.2px 5.5px 1.2px #02022a;
      line-height: 3.25rem;
    }
    .slogan{
      font-family: 'Playfair Display', serif;
      font-size: 2.8rem;
      font-weight: $fontWeight800;
      letter-spacing: -1px;
      transform: scale(1.025, 1.1);
      color: white;
      filter: contrast(120%)brightness(110%);
      padding: 8% 0 0 0;
      margin-left: -2%;
      text-shadow: -1px 4px 1px rgb(9, 24, 38);
      line-height: 3.25rem;
    }
    .col{padding: 0 !important;}
    .mobile_version{
      display: none;
    }
  }
  #Advantages{
    height: 15rem;
    .textLandingPage{
      font-weight: $fontWeight800 !important;
      letter-spacing: -.25px;
      transform: scale(1, 1.1);
      text-shadow: -.05px .25px .05px rgb(64, 94, 121);
      font-size: 1.3rem;
      line-height: 1.4rem;
      color: rgb(9, 24, 38);
    }
    .flex-container{
      margin-top: 7.5%;
      margin-left: -3%;
      margin-right: 1%;
    }
    .flex-container > div {
      width: 28.5%;
      padding: 0.5%;
      margin: 1.5% 3% 1.25% 0;
      position: relative;
      float: left;
      filter: contrast(120%) brightness(110%);
      background-color: rgba(250, 250, 255,.7);
      border: 2.5px solid rgba(255, 255, 255);
      box-shadow: 0 0 4px white, 3px 3px 3px rgb(21, 44, 64);
    }
    svg{
      margin: 5% auto;
      display: block;
      width: 60px !important;
      height: 60px !important;
      border-radius: 10%;
      padding: .5%;
    }
  }
  #Type{
    display: flex;
    height: 40vh;
    max-width: 100%;
    .container div{
      text-align: left;
      position: absolute;
      left: 2%;
      bottom: 3%;
    }
    h2{
      position: absolute;
      left: 2%;
      bottom: 10%;
      font-size: 2rem !important;
      text-align: left !important;
    }
    .textLandingPage{
      letter-spacing: -.5px;
      font-size: 1.35rem !important;
      line-height: 1.4rem;
      color: white;
    }
    .section {
      flex: 1;
      display: flex;
      align-items: stretch;
      height: 100%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      color: #fff !important;
      transition: flex .4s ease;
      position: relative;
      filter: brightness(80%);
    }
    .section:first-child{
      background: url(../../static/LandingPage/about_company.jpg) ;
      background-size: 100% 100%;
    }
    .section:nth-child(2){
      background: url(../../static/LandingPage/tariffs.jpg);
      background-size: 100% 100%;
    }
    .section:last-child{
      background: url(../../static/LandingPage/thanksgiving_letters.jpg);
      background-size: 100% 100%;
    }
    .section {
      a{
        color: white;
        text-decoration:none !important;
      }
      a:hover{
        color: white;
        font-weight: $fontWeight800 !important;
        text-decoration:none !important;
      }
      &:hover h2{
        text-decoration:underline;
      }
      &:hover .textLandingPage{
        text-decoration:none !important;
      }
    }
    .section .overlay {
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      transition: background-color .8s ease;
    }
    .section .content {
      z-index: 1;
      text-shadow: #000000 3px 3px  5px;
      text-align: left;
    }
    .section:hover .overlay {background-color: rgba(0, 0, 0, 0.05);}
  }
  #Services,  #Feedback, #Clients{
    padding: 2.5% 0;
    filter: brightness(90%);
  }
  #Feedback{
    background: url("../../static/LandingPage/55.jpg") 100% 100% no-repeat;
    background-size: 100% 100%;
  }
  #Services, #Clients{
    background:linear-gradient( to bottom, #36506c, #718199,#718199, #36506c);
  }
  #Services{
    .textLandingPage{
      padding: 2% 0;
      letter-spacing: -.8px;
      line-height: 1.4rem;
      color: $shadeOfBlue;
      text-shadow: 1px 1px 0 $shadeOfBlue, 2px 2px 6px white !important;
      border: 2.5px solid rgba(255, 255, 255, 0.19);
    }
    p{margin: 0!important;}
    .flex-container > a {
      width: 30.5%;
      margin: 0 0 2% 2.5% !important;
    }
    img{
      box-shadow: 2px 5px 5px #273849;
      width: $imgWidth100percent;
      filter: brightness(115%)!important;
    }
    .btn:hover{
      background-color: rgba(250, 250, 255,.9) !important;
      img{
        filter: brightness(130%)!important;
      }
    }
    .btn{
      background-color: rgba(250, 250, 255,.45) !important;
      box-shadow: 2px 5px 5px #273849;
    }
  }
  #Import_numbers{
    .textLandingPage{
      color: white;
      text-shadow: 0 2.5px 0 $shadeOfBlue !important;
      line-height: 1.55rem;
      transform: scale(1.05);
      margin-top: -5%;
      letter-spacing: -.2px;
      border: none;
    }
    .number{
      font-size:5.25rem;
      text-align: $centerText;
      font-family: 'Vollkorn', serif;
      font-weight: $fontWeight400;
      text-shadow: 2px 2px 2px $shadeOfBlue;
      transform: scale(1.35);
      letter-spacing: -4px;
      margin-top: -5%;
      color: white;
    }
    .flex-container{
      margin-left: 8% !important;
      margin-right: 8% !important;
      & > div{
        width: 20%;
        padding: 0.25%;
        margin: 1.5% 1.8% 0.5% 1.8% !important;
      }
    }
  }
  #Feedback{
    h2{
      margin-top: 10%;
      font-size: 2.7rem;
    }
    .textLandingPage{
      margin-top: 2%;
      text-align: left;
      margin-left: 4.5%;
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: -1px;
      text-shadow: 2px 2.5px 2.5px $shadeOfBlue;
      color: #cfdde8;
    }
    .call_telephone{
      font-size: 4.5rem;
      text-align: $centerText;
      letter-spacing: 1px;
      display: block;
      color: #cfdde8;
      font-family: 'Vollkorn', serif;
      font-weight: 500;
      text-shadow: 2px 2px 2px rgb(15, 37, 56);
    }
    .place_form{background: rgba(255, 255, 255, 0.55);}
  }
  #Clients{
    .row{margin-bottom: 3% !important;}
    img{
      box-shadow: 7px 7px 7px $shadeOfBlue;
      width: $imgWidth100percent;
      filter:  brightness(90%)!important;
    }
    .col:hover img{
      filter: brightness(100%)!important;
    }
  }
  #Map{
    background-color: rgba(39, 70, 142);
    iframe {
      filter: opacity(55%) brightness(95%) contrast(110%);
      min-height: 400px;
      height: auto;
      width:100% !important;
      border:0;
      box-shadow: none !important;
    }
  }
}
#contact, #Feedback{
  button{
    display: block;
    margin: 3% auto 0 auto;
    padding:  2%;
    font-family: $font;
    font-weight: 700;
    text-shadow: 0.5px 0.5px 1px $shadeOfBlue;
    font-size: 1.1rem;
    border-width: 2px 0;
    border-style: solid none;
    border-color: $shadeOfBlue;
    border-radius: 6px;
    background:radial-gradient(#acb1c2, #afb3cb, rgba(64, 107, 139, 0.65));
    box-shadow: 2px 2px 2px $shadeOfBlue;
    transition: 0.2s;
  }
  button:hover {}
  button:active {}
}
.place_form{
  padding: 3%;
  border-radius: 10px;
  box-shadow: 7px 7px 7px $shadeOfBlue;
  margin-top: 1.5%;
}
#company{
  svg{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 6.5px $shadeOfBlack;
  }
  .first_img{
    float: left;
    width: 38%;
    margin: 0 1.5% 0.5% 0;
  }
  .flex-container > div {
    width: 33%;
    margin-bottom: 0.5%  !important;
    svg {
      float: left;
      margin-left: -25%;
      margin-top: 70%;
      padding: 10%;
    }
    img{
      width: $imgWidth100percent;
      height: 100%;
    }
    p{
      margin-bottom: 0.5rem !important;
    }
  }
  .stage{
    svg{
      padding: 1%;
      margin: 1.5% 1.5% 0 1.5%;
    }
    img{width: $imgWidth100percent;}
    .emphasized{margin-bottom: 0.5rem !important;}
    div{padding-bottom: 1.5%;}
    .col-5{padding-left: 0  !important;}
    img{margin-bottom: 2.5%;}
  }
  ul{margin-left: -3% !important;}
}
#tariffs,#tariffs_content{
  table{
    background: rgba(219, 205, 205, 0.1);
    box-shadow: 0 0 3px 1px #0f2538;
    margin-bottom: 0 !important;
  }
  .table th{
    background: rgba(8, 22, 33, 0.25) !important;
  }
  .table th, .table td {
    border: 1px solid rgba(250, 250, 250, 0.23) !important;
    box-shadow: 0 0 1px 1px #0f2538;
  }
  th,tr td:nth-child(2),tr td:nth-child(3){
    text-align: center !important;
  }
  h2,h3{
    text-shadow: 0 0 0.15px $shadeOfBlack;
    text-decoration: underline;
    filter: contrast(120%) brightness(170%);
  }
}
#tariffs{
  .table th, .table td {
    padding: 0.45rem !important;
  }
  img{
    width: 60%;
    margin-bottom: 1%;
    border-radius: 45%;
    filter: brightness(88%) !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: none;
  }
  .row{margin-bottom: 2% !important;}
  p{
    font-weight: $fontWeight800 !important;
    margin-bottom: 0.5rem !important;
  }
  .col-3{
    padding: 0 4.5px !important;
    text-align:$centerText;
    background: rgba(238, 224, 224, 0.1);
    border: 1px solid rgba(250, 250, 250, 0.43) !important;
    box-shadow: 0 0 3px 2px #1a4971;
  }
  .col{
    padding: 0 2rem 0 0 !important;
  }
}
#tariffs_content{
  h2,h3{
    text-align: $centerText;
  }
  .table th, .table td {
    padding: 0.35rem !important;
  }
  .flex-container > div {
    width: 48%;
    margin: 0 1% !important;
    &:last-child{
      margin-left: 25% !important;
    }
  }
}
.services{
  .first_img{
    float: left;
    width: 40%;
    margin: 0 2% 0.5% 0;
  }
  img{
    filter: brightness(90%) contrast(100%) !important
  }
  svg{
    margin-top: -1%;
    width: 48px;
    height: 50px;
  }
  .row{padding-bottom: 0 !important;}
  .second_img{
    float: right;
    width: 24%;
    margin: 0 2% 0.5% 0;
  }
  .varieties{margin-left: -3%;}
  .third_img{
    float: left;
    width: 35%;
    margin: 9% 2% 12% 2%;
  }
}
.services_with_types{
  h6{text-align: center;}
  .flex-container > div {
    width: 48%;
    margin: 0 1% 2% 1% !important;
    .col{
      padding: 0 5px !important;
    }
    .col-5 {
      padding-left: 20px !important;
      img {
        width: $imgWidth100percent;
        height: 180px;
        margin-top: 5%;
      }
    }
    ul {margin-left: -10%;}
  }
  .type_guard_beautiful_block{
    height: 280px;
    margin-bottom: 5%;
  }
  svg{margin-left: 25%;}
}
#guard_of_organizations{
  .type_guard_beautiful_block:not(:nth-child(2)) svg{
    margin-left: 0;
  }
  .type_guard_beautiful_block:last-child{
    box-shadow: none;
    img{
      width: $imgWidth100percent;
      height: 270px;
      box-shadow: none;
      padding: 2% 4% 4% 4%;
    }
  }
  .flex-container > div {
    ul {margin-top: 5%;}
  }
}
.types_of_guard{
  ul{margin-left: -8%;}
  .im_descr {
    h6{clear: left;}
    img{
      width: 32.5%;
      float: right;
      margin-bottom: 2%;
      margin-left: 1%;
      margin-right: 5%;
    }
    ul{margin-left: -3%;}
  }
}
#technical_means{
  img{
    float: left;
    width: 45%;
    margin: 2% 2% 0.8% 0.8%;
  }
  .flex-container > div {
    width: 48%;
    padding: 0.5%;
    margin: 1% !important;
  }
  ul{
    margin-left: -15%;
     li {padding-bottom: 0.5% !important;}
  }
  p{margin-bottom: 0.25rem !important;}
}
#special_equipment{
  .first_img{
    float: left;
    width: 25%;
    margin: 0 2% 0.8% 0;
  }
  .flex-container > div {
    width: 48%;
    padding: 0.65%;
    margin: 0.8% !important;
    img{
      width: 17.5%;
      float: left;
      margin: 0 2% 0 0;
      filter: contrast(120%) brightness(110%);
      box-shadow: 0 0 4px #999696, 4px 4px 4px #152c40;
    }
    .emphasized{padding-top: 1.5%;}
    p{margin: 0 !important;}
  }
}
#licenses{
  img{
    width: $imgWidth100percent;
    filter: brightness(60%) !important;
  }
  h4{
    padding: 1rem 0;
  }
  .flex-container > img {
    width: 18%;
    margin: 0 1% 2% 1% !important;
  }
}
#our_clients{
  .flex-container > div {
    width: 30%;
    margin: 0 1.5% 0.5% 1.5% ;
    img{width: $imgWidth100percent;}
    &:hover img{
      filter: brightness(100%)!important;
    }
  }
  .emphasized{
    padding-top: 2.5%;
    margin-bottom: 0.5rem !important;
    text-align: $centerText;
  }
}
#contact{
  h2{
    margin-top: 4%;
    font-family: Tahoma, Arial, verdana, Helvetica, sans-serif;
    font-weight: $fontWeight800;
    text-align: left;
    color:$shadeOfBlue;
  }
  .row{padding-bottom: 3%;}
  .col .row{padding-bottom: 1.5%;}
  .col .col{
    height: 55px;
    display: flex;
    align-items: center
  }
  svg{
    width: 50px;
    height: 50px;
    border: 2px solid rgba(9, 50, 78, 0.62);
    background: rgba(28, 97, 146, 0.1);
    border-radius: 5px;
    padding: 8%;
  }
  .place_form{background: rgba(232, 237, 245, 0.63);}
  .col-5{padding-right: 2.5%;}
  .map {
    box-shadow: 7px 7px 7px $shadeOfBlue;
    iframe {
      filter: opacity(75%) brightness(95%) contrast(110%);
      min-height: 500px;
      height: auto;
      width:100% !important;
      border:0;
    }
  }
}

@media screen and (max-width: 355px) {
  .text{
    font-size: 0.86rem !important;
    line-height: 1rem !important;
  }
  #LandingPage{
    #Home{
      .title_guard{
        font-size: 1.24rem !important;
        line-height: 1.6rem !important;
        margin-left: -2% !important;
      }
      .slogan{
        font-size: 1.15rem !important;
        line-height: 1.6rem !important;
        margin-left: 15% !important;
      }
      img{
        margin-top: 5% !important;
        width:245% !important;
      }
    }
    #Services {
      .textLandingPage {
        height: 3rem;
        font-size: 1rem !important;
      }
    }
    #Import_numbers{
      .textLandingPage{
        font-size: .88rem !important;
        line-height: 1.15rem !important;
      }
      .number{font-size:2.25rem !important;}
      .flex-container{
        & > div{
          margin: 1.5% 1% 0.5% 1% !important;
        }
      }
    }
    #Feedback{
      .textLandingPage{
        font-size: 1rem !important;
        line-height: 1.15rem !important;
      }
      .call_telephone{
        font-size: 1.8rem !important;
      }
    }
  }
  #company {
    svg {
      width: 45px;
      height: 45px;
    }
    .flex-container > div {
      img {height: 60px !important;}
      .col {margin-left: 7% !important;}
      svg {
        margin-left: -100% !important;
        margin-top: 85% !important;
      }
    }
  }
  #tariffs, #tariffs_content{
    .table th, .table td {
      padding: 0.1rem !important
    }
  }
  .services_with_types {
    .flex-container > div ul {margin-left: -18% !important;}
    .col-5 {
      padding-right: 0 !important;
      img {height: 115px !important;}
    }
  }
  .types_of_guard {
    .row { ul {margin-left: -23% !important;} }
  }
  #technical_means{
    ul{margin-left: -15% !important;}
  }
  #licenses{
    .flex-container > img {height: 120px !important;}
    ol{margin-left: -8% !important;}
  }
  #our_clients{
    .emphasized{font-size: 0.85rem !important;}
  }
  #contact{
    .col-1{margin-left: -12% !important;}
    .col .col{margin-left: 8% !important;}
  }
}
@media screen and (max-width: 500px) {
  .page{
    padding: .8rem 0 !important;
    ul{margin-left: -12%;}
  }
  .place_h1{
    margin-bottom:0 !important;
  }
  h1{
    padding-left: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
  h2,h3{
    font-size: 1.18rem;
  }
  h4{
    font-size: 1.15rem;
  }
  h6{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .text{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .text_descr{
    font-size: 0.9rem !important;
    line-height: 0.85rem !important;
    margin-top: -1%;
  }
  .li_text,.name_type_guard{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: -1.5%;
  }
  label{
    font-size: 0.95rem;
    margin-bottom: 0 !important;
  }
  .form-control{
    font-size: 0.85rem;
    letter-spacing: -.5px;
    padding: 0.375rem !important;
  }
  input{
    min-height: 1.5rem;
    margin-bottom: 1%;
  }
  #LandingPage{
    h2{
      font-size: 1.2rem;
    }
    #Services,  #Feedback, #Clients{
      padding: 6% 0;
    }
    #Home{
      height: auto;
      background: url(../../static/LandingPage/99.jpg) 100% 100% no-repeat !important ;
      background-size: 100% 100% !important;
      filter: brightness(72%);
      animation: none;

      .title_guard{
        padding: 4% 0 0 7%;
        font-size: 1.55rem;
        margin-left: -.5%;
        line-height: 1.8rem;
        letter-spacing: -1.2px;
        text-shadow: -.5px 2.5px .5px #02022a;
      }
      .slogan{
        margin-left: 20%;
        margin-right: 5%;
        margin-top: 45%;
        font-size: 1.45rem;
        padding: 5% 0 0 0;
        letter-spacing: -2px;
        line-height: 1.8rem;
        text-shadow: -.5px 2px .5px rgb(9, 24, 38);
      }
      img{
        width:300%;
        margin-left: -32%;
      }
      .big_version{display: none;}
      .mobile_version{display: block;
        .col .slogan{
          display: block !important;
        }
        .slogan{
          display: none !important;
        }
      }
    }
    #Advantages{
      display: none;
    }
    #Type{
      height: 80vh;
      flex-direction: column;
      h2{
        font-size: 1.2rem !important;
        letter-spacing: -1px;
        left: 1.5%;
        padding-left: 2% !important;
      }
      .textLandingPage{
        letter-spacing: -1.5px;
        font-size: 1.15rem;
        padding-left: 2%;
      }
    }
    #Services{
      .textLandingPage {
        font-size: 1.15rem;
      }
      .flex-container > a {
        width: 47%;
        margin: 0 1.25% 2.5% 1.25% !important;
      }
    }
    #Import_numbers{
      .textLandingPage{
        font-size: 1.15rem;
        line-height: 1.18rem;
        letter-spacing: -1px;
      }
      .number{font-size:3rem;}
      .flex-container{
        margin-left: 0 !important;
        margin-right: 0 !important;
        & > div{
          width: 45%;
          margin: 1.5% 2% 0.5% 2%;
        }
      }
    }
    #Feedback{
      h2{
        margin-top: 0;
        font-size: 1.2rem;
      }
      .row{
        flex-direction: column-reverse;
        .col-5{
          flex: 0 0 100% !important;
          padding: 0 2% !important;
          max-width: 100% !important;
        }
        .col{
          padding: 0 !important;
        }
      }
      .textLandingPage{
        font-size: 1.15rem;
        line-height: 1.25rem;
      }
      .call_telephone{
        font-size: 2rem;
      }
    }
    #Map {
      iframe {
        min-height: 250px !important;
      }
    }
  }
  #contact, #Feedback {
    button {font-size: 0.95rem;}
    .place_form{box-shadow: 0 0 5px 0 #0f2538;}
    .map{box-shadow: none;}
  }
  #company{
    .first_img {
      float: none;
      width: 80%;
      margin: 0 2.5% 3% 0;
    }
    svg{
      width: 48px;
      height: 48px;
    }
    ul{margin-left: -10% !important;}
    .flex-container > div {
      width: 100%;
      margin: 0 0.5% 1.5% 0.5% !important;
      img{
        margin-top: 2%;
        height:100px;
        padding: 0 25%;
      }
      .col{
        padding: 0 10px !important;
        p{margin-bottom: 0.5rem !important;}
      }
      .emphasized{
        margin-bottom: 0.5rem !important;
      }
      svg {
        float: left;
        margin-left: -30%;
        margin-top: 45%;
      }
    }
    .stage{
      flex-direction: column;
      img{
        width: 80%;
        margin-bottom: 3.5%;
      }
      .col-5{
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .col,.col-5{padding: 0 !important;}
      p{margin-bottom: 0.5rem !important;}
      p:nth-child(2){padding-top: 4%;}
      p:nth-child(3){clear: left;}
    }
  }
  #tariffs{
    table tr td:first-child{
      width: 20% !important;
      span{
        display: none;
      }
    }
    .row{
      flex-direction: column-reverse;
    }
    .col-3{
      flex: 0 0 100% !important;
      max-width:100% !important;
      text-align: left;
      img{
        width: 25% !important;
        float: left;
      }
    }
    .col {
      padding: 0 !important;
    }
  }
  #tariffs_content {
    table tr td:first-child {
      width: 20% !important;
      span{
        display: none;
      }
    }
    .flex-container > div {
      width: 100%;
      &:last-child{
        margin-left:  1% !important;
      }
    }
  }
  .container .container{
    padding: 0 !important;
  }
  .services {
    .first_img {
      float: none;
      width: 80%;
      margin: 0 2% 2% 0;
    }
    svg{
      width: 30px;
      height: 30px;
    }
    .import,p:nth-child(3){clear: left;}
    .second_img{
      float: none;
      width: 70%;
      margin: 0 0 0.5% 0;
    }
    .varieties{margin-left: -12%;}
    .third_img{
      float: none;
      width: 70%;
      margin: 0 0 0.5% 0;
    }
  }
  .services_with_types{
    .flex-container > div {
      width: 100%;
      .row {
        flex-direction: column !important;
        .col-5 {
          padding: 0 15px !important;
          flex: 0 0 65% !important;
          max-width: 65% !important;
          img {
            height: 140px;
            margin-bottom: 2.5%;
          }
        }
        ul{
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }
      }
    }
    .type_guard_beautiful_block{height: auto;}
    svg{margin-left: 0;}
  }
  #guard_of_organizations{
    .type_guard_beautiful_block:last-child{display: none;}
  }
  .types_of_guard{
    .row{
      flex-direction: column;
      ul{
        margin-left: -18% ;
        margin-bottom: 0 !important;
      }
    }
    .im_descr {
      img{
        width: 70%;
        margin-right: 0;
        margin-left: 0.5%;
        float: none;
      }
      ul{margin-left: -12%;}
    }
  }
  #technical_means{
    img{
      float: none;
      width: 75%;
      margin: 3% 3.5% 3% 0.8%;
    }
    .flex-container > div {
      width: 100%;
      padding: 0.8%;
      p{margin-bottom: 0.5rem !important;}
    }
    ul{
      margin-left: -12%;
      margin-bottom: 0 !important;
    }
  }
  #special_equipment{
    .first_img{
      float: none;
      width: 80%;
      margin: 3% 3.5% 3% 0.8%;
    }
    .flex-container > div {
      width: 100%;
      padding: 1%;
      img{
        width: 28%;
        margin-top: 1%;
      }
      .emphasized{padding-top: 0;}
      p{margin: 0 !important;}
    }
  }
  #licenses{
    .flex-container > img {
      width: 31%;
      height: 165px;
      margin: 0 0.95% 1.9% 0.95% !important;
    }
    h4{padding-top: 3%;}
    ol{
      margin-left: -6%;
      margin-bottom: 0rem !important;
    }
  }
  #our_clients{
    .flex-container > div {width: 47%;}
    .emphasized{padding-top: 3%;}
    p{margin-bottom: 0.25rem !important;}
  }
  #contact{
    .important_row{
      flex-direction: column;
      .col-5{
        padding: 0 5px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
    h2{
      font-size: 1.15em;
      margin-top: 0;
    }
    .col .row{padding-bottom: 0;}
    svg{
      width: 45px;
      height: 45px;
      padding: 20%;
    }
    .col-1{margin-left: -3%;}
    .col .col{margin-left: 12%;}
  }
}
@media screen and (min-width: 500px)and (max-width: 768px) {
  .page{
    padding: 1.2rem 0 !important;
    ul{margin-left: -8%;}
  }
  .place_h1{
    margin-bottom: .6rem;
  }
  h1{
    padding-left: 0;
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
  }
  h2,h3{
    font-size: 1.35rem;
  }
  h4{
    font-size: 1.25rem;
  }
  h6{
    font-size: 1.15rem;
    line-height: 1.2rem;
  }
  .text{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .text_descr{
    font-size: 0.9rem !important;
    line-height: 0.85rem !important;
    margin-top: -1%;
  }
  .li_text,.name_type_guard{
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 1% !important;
    margin-bottom: -1.5%;
  }
  label{
    font-size: 0.95rem;
    margin-bottom: 0 !important;
  }
  input{
    min-height: 1.5rem;
    margin-bottom: 1%;
  }
  #LandingPage{
    h2{
      font-size: 1.35rem;
    }
    #Services, #Feedback, #Clients{
      padding: 3.5% 0;
    }
    #Home{
      .title_guard{
        padding: 4% 0 0 7%;
        font-size: 1.75rem;
        margin-left: 0;
        line-height: 2rem;
        letter-spacing: .8px !important;
        text-shadow: -1px 3.5px 1px #02022a;
      }
      .slogan{
        margin-left: 0;
        font-size: 1.45rem;
        padding: 5% 0 0 8%;
        line-height: 2rem;
        text-shadow: -.8px 2px .8px rgb(9, 24, 38);
      }
      img{
        width:200%;
        margin-left: -24%;
      }
      .big_version{display: none;}
      .mobile_version{display: block;
        .col .slogan{
          display: none;
        }
        .slogan{
          display: block;
        }
      }
    }
    #Advantages{
      .textLandingPage{
        font-size: .9rem;
        line-height: 1rem;
        letter-spacing: -.9px;
      }
      .flex-container{
        margin-top: 5%;
        margin-left: 3%;
      }
      .flex-container > div {
        width: 47%;
        padding: 0.25%;
        margin: 1.25% 3% 1.25% 0;
      }
      svg{
        margin: 2.5% auto;
        width: 45px !important;
        height: 45px !important;
        padding: 0;
      }
    }
    #Type{
      height: 25vh;
      flex-direction: row !important;
      h2{
        font-size: 1.3rem !important;
        left: 0;
        letter-spacing: -1.2px;
        bottom: 22%;
        padding-left: 2% !important;
      }
      .textLandingPage{
        letter-spacing: -1.5px;
        font-size: 1.15rem;
        padding-left: 2%;
      }
      .container div{
        left: 0;
        bottom: 1%;
      }
    }
    #Services{
      .textLandingPage {
        font-size: 1.15rem;
      }
      .flex-container > a {
        width: 47%;
        margin: 0 1.25% 2.5% 1.25% !important;
      }
    }
    #Import_numbers{
      .textLandingPage{
        font-size: 1.15rem;
        line-height: 1.18rem;
        letter-spacing: -1px;
      }
      .number{font-size:3rem;}
      .flex-container{
        margin-left: 0 !important;
        margin-right: 0 !important;
        & > div{
          width: 45%;
          margin: 1.5% 2% 0.5% 2%;
        }
      }
    }
    #Feedback{
      h2{
        margin-top: 0;
        font-size: 1.35rem;
      }
      .row{
        flex-direction: column-reverse;
        .col{
          padding: 0 !important;
        }
        .col-5{
          flex: 0 0 100% !important;
          padding: 0 8% !important;
          max-width: 100% !important;
        }
      }
      .textLandingPage{
        font-size: 1.25rem;
        line-height: 1.35rem;
      }
      .call_telephone{
        font-size: 2.25rem;
      }
    }
    #Map {
      iframe {
        min-height: 330px !important;
      }
    }
  }
  #contact, #Feedback {
    button {
      font-size: 0.95rem;
    }
    .place_form{
      box-shadow: 0 0 5px 0 #0f2538;
    }
    .map{
      box-shadow: none;
    }
  }
  #company{
    .first_img {
      float: left;
      width: 50%;
      margin: 0 3.5% 0.5% 0;
    }
    svg{
      width: 55px;
      height: 55px;
    }
    ul{margin-left: -8% !important;}
    .flex-container > div {
      width: 100%;
      margin: 0 0.5% 1.5% 0.5% !important;
      img{
        margin-top: 2%;
        height:100px;
        padding: 0 25%;
      }
      .col{
        padding: 0 5px !important;
        margin-left: -1% !important;
        p{margin-bottom: 0.5rem !important;}
      }
      .emphasized{margin-bottom: 0.5rem !important;}
      svg {
        float: left;
        margin-left: -15%;
        margin-top: 20%;
      }
    }
    .stage{
      flex-direction: column;
      img{
        width: 75%;
        margin-bottom: 3.5%;
      }
      .col-5{
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .col,.col-5{padding: 0 !important;}
      p{margin-bottom: 0.25rem !important;}
    }
  }
  #tariffs{
    .row{
      flex-direction: column-reverse;
    }
    .col-3{
      flex: 0 0 100% !important;
      max-width:100% !important;
      text-align: left;
      img{
        width: 25% !important;
        float: left;
      }
    }
    .col {
      padding: 0 !important;
    }
  }
  #tariffs_content {
    .flex-container > div {
      width: 100%;

      &:last-child{
        margin-left:  1% !important;
      }
    }
  }
  .container .container{
    padding: 0 !important;
  }
  .services {
    .first_img {
      float: left;
      width: 45%;
      margin: 0 2% 0.5% 0;
    }
    svg{
      width: 35px;
      height: 35px;
    }
    .import,p:nth-child(3){clear: left;}
    .li_text{
      //float: left;
      margin-right: 3%;
    }
    .second_img{width: 30%;}
    .varieties{margin-left: -6%;}
    .third_img{
      width: 37.5%;
      margin: 3% 2% 0.5% 2%;
    }
  }
  .services_with_types{
    .flex-container > div {
      width: 100%;
      .col-5 {
        flex: 0 0 45% !important;
        max-width: 45% !important;
        img {
          height: 135px;
          margin-bottom: 8%;
        }
      }
      ul{margin-left: -10%;}
    }
    .type_guard_beautiful_block{height: auto;}
    svg{margin-left: 0;}
  }
  #guard_of_organizations{
    .type_guard_beautiful_block:last-child{display: none;}
  }
  .types_of_guard{
    .row{
      flex-direction: column;
      ul{
        margin-left: -12% ;
        margin-bottom: 0 !important;
      }
    }
    .im_descr {
      img{
        width: 40%;
        margin-right: 0;
        margin-left: 0.5%;
      }
      ul{margin-left: -8% ;}
    }
  }
  #technical_means{
    img{
      width: 38%;
      margin: 3% 3.5% 2% 0.8%;
    }
    .flex-container > div {
      width: 100%;
      padding: 0.8%;
      p{margin-bottom: 0.5rem !important;}
    }
    ul{
      margin-left: -8%;
      margin-bottom: 0 !important;
    }
  }
  #special_equipment{
    .first_img{width: 38%; float: left !important;}
    .flex-container > div {
      width: 100%;
      img{width: 16%;}
      .emphasized{padding-top: 0;}
      p{margin: 0 !important;}
    }
  }
  #licenses{
    .flex-container > img {
      width: 30%;
      margin: 0 1.2% 2.4% 1.2% !important;
    }
    h4{padding-top: 2%;}
    ol{
      margin-left: -3%;
      margin-bottom: 0rem !important;
    }
  }
  #our_clients{
    .flex-container > div {width: 47%;}
    .emphasized{padding-top: 3%;}
    p{margin-bottom: 0.25rem !important;}
  }
  #contact{
    .important_row{
      flex-direction: column;
      .col-5{
        padding: 0 5px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
    h2{
      font-size: 1.3rem;
      margin-top: 0;
    }
    svg{padding: 20%;}
    .col .row{padding-bottom: 0;}
    .col-1{margin-left: -1.5%;}
    .col .col{margin-left: 4%;}
  }
}
@media screen and (min-width: 768px)and (max-width: 992px) {
  .page{
    padding: 1.5rem 0 !important;
  }
  .place_h1{
    margin-bottom: 2rem;
  }
  h1{
    padding-left: 0;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }
  h2,h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1.25rem;
  }
  h6{
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .text{
    font-size: 1.15rem;
    line-height: 1.3rem;
  }
  .text_descr{
    font-size: 1rem !important;
    line-height: 1rem !important;
  }
  .li_text,.name_type_guard{
    font-size: 1.15rem;
    line-height: 1.25rem;
    padding-bottom: 1% !important;
    margin-bottom: -1.5%;
  }
  label{
    font-size: 1rem;
    margin-bottom: 0 !important;
  }
  input{
    min-height: 1.25rem;
  }
  #LandingPage{
    h2{
      font-size: 1.4rem;
    }
    #Home{
      .title_guard{
        padding: 4% 0 0 7%;
        font-size: 2.5rem;
        margin-left: 0;
        line-height: 2.15rem;
        letter-spacing: 2.3px;
        text-shadow: -1px 3.5px 1px #02022a;
      }
      .slogan{
        margin-left: 0;
        font-size: 1.95rem;
        padding: 5% 0 0 8%;
        line-height: 2.3rem;
        text-shadow: -.8px 2px .8px rgb(9, 24, 38);
      }
      img{
        width:135%;
      }
      .big_version{display: none;}
      .mobile_version{
        display: block;
      .col .slogan{
          display: none;
        }
      }
    }
    #Advantages{
      .textLandingPage{
        font-size: 1.15rem;
        line-height: 1.15rem;
        letter-spacing: -.5px;
      }
      .flex-container{
        margin-top: 2%;
        margin-left: 8%;
        margin-bottom: 2%;
      }
      .flex-container > div {
        width: 47%;
        padding: 0.5%;
        margin: 1.5% 3% 1.5% 0;
      }
      svg{
        margin: 2.5% auto;
        width: 45px !important;
        height: 45px !important;
        padding: 0;
      }
    }
    #Type{
      height: 25vh;
      h2{
        font-size: 1.3rem !important;
        left: 0;
        letter-spacing: -1.2px;
        bottom: 12%;
        padding-left: 2% !important;
      }
      .textLandingPage{
        letter-spacing: -1.5px;
        font-size: 1.15rem;
        padding-left: 2%;
      }
      .container div{
        left: 0;
        bottom: 1%;
      }
    }
    #Services {
      .textLandingPage {
        font-size: 1.15rem;
      }
    }
    #Import_numbers{
      .textLandingPage{
        font-size: 1.15rem;
        line-height: 1.18rem;
        letter-spacing: -1.5px;
      }
      .number{font-size:3.5rem;}
      .flex-container{
        margin-left: 0 !important;
        margin-right: 0 !important;
        & > div{
          margin: 1.5% 2% 0.5% 2%;
        }
      }
    }
    #Feedback{
      h2{
        margin-top: 15%;
        font-size: 2rem;
      }
      .textLandingPage{
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
      .call_telephone{
        font-size: 2.6rem;
      }
      .col-5{
        padding: 0 !important;
      }
    }
  }
  #contact, #Feedback {
    button {font-size: 0.95rem;}
  }
  #company{
    .first_img {
      float: left;
      width: 45%;
      margin: 0 3% 0.5% 0;
    }
    svg{
      width: 55px;
      height: 55px;
    }
    ul{margin-left: -6% !important;}
    .flex-container > div {
      width: 48%;
      margin: 0 0.5% 1.2% 0.5% !important;
      img{
        height:145px;
        padding: 0 10%;
      }
      .col{
        padding-left: 1rem !important;
        p{margin-bottom: 0.5rem !important;}
      }
      .emphasized{margin-bottom: 0.5rem !important;}
      svg {
        float: left;
        margin-left: -15%;
        margin-top: 80%;
      }
    }
    .stage{
      flex-direction: column;
      img{width: 62%;}
      .col-5{
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .col,.col-5{padding: 0 !important;}
      p{margin-bottom: 0.25rem !important;}
    }
  }
  #tariffs{
    .col-3{
      flex: 0 0 27% !important;
      max-width: 27% !important;
      padding: 0 2px !important;
      img{
        width: 65% !important;
      }
    }
    .col {
      padding: 0 1rem 0 0 !important;
    }
  }
  #tariffs_content {
    .flex-container > div {
      width: 100%;
      &:last-child{
        margin-left:  1% !important;
      }
    }
  }
  .container .container{
    padding: 0 !important;
  }
  .services {
    .first_img {
      float: left;
      width: 45%;
      margin: 0 2% 0.5% 0;
    }
    svg{
      width: 40px;
      height: 38px;
    }
    .import,p:nth-child(3){clear: left;}
    .li_text{
      //float: left;
      margin-right: 7%;
    }
    .block_one{clear: left;}
    .second_img{width: 28%;}
    .varieties{margin-left: -6%;}
    .third_img{width: 37.5%;margin: 3% 2% 1% 2%;}
  }
  .services_with_types{
    .flex-container > div {
      width: 100%;
      .col-5 {
        flex: 0 0 35% !important;
        max-width: 35% !important;
        img {
          height: 150px;
          margin-bottom: 8%;
        }
      }
    }
    .type_guard_beautiful_block{height: auto;}
    svg{margin-left: 0;}
  }
  #guard_of_organizations{
    .type_guard_beautiful_block:last-child{display: none;}
  }
  .types_of_guard{
    .row{
      ul{margin-left: -18% ;}
    }
    .im_descr {
      img{
        width: 37%;
        margin-right: 0;
        margin-left: 0.5%;
      }
      ul{margin-left: -7% ;}
    }
  }
  #technical_means{
    img{
      width: 30%;
      margin: 2% 2% 2% 0.8%;
    }
    .flex-container > div {
      width: 100%;
      padding: 0.8%;
    }
    ul{
      margin-left: -8%;
      margin-bottom: 0 !important;
    }
  }
  #special_equipment{
    .first_img{width: 33%;}
    .flex-container > div {
      width: 100%;
      img{width: 15%;}
      .emphasized{padding-top: 1.5%;}
    }
  }
  #licenses{
    .flex-container > img {width: 23%;}
    ol{
      margin-left: -1.5%;
      margin-bottom: 0.5rem !important;
    }
  }
  #our_clients{
    .flex-container > div {width: 47%;}
    .emphasized{padding-top: 3%;}
    p{margin-bottom: 0.25rem !important;}
  }
  #contact{
    h2{font-size: 1.45rem;}
    svg{padding: 10%;}
    .col-1{margin-left: -6%;}
    .col .col{margin-left: 10%;}
    .important_row .col{padding-left: 0 !important;}
    .col-5{
      padding: 0;
      flex: 0 0 45% !important;
      max-width: 45% !important;
    }
  }
}
@media screen and (min-width: 992px)and (max-width: 1200px) {
  .page{
    padding: 1.5rem 0 !important;
  }
  h1{
    font-size: 1.8rem;
    margin-bottom: 0.25rem;
  }
  h2,h3{
    font-size: 1.6rem;
  }
  h4{
    font-size: 1.3rem;
  }
  h6{
    font-size: 1.25rem;
    line-height: 1.45rem;
  }
  .text{
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .text_descr{
    font-size: 1rem !important;
    line-height: 1.2rem !important;
  }
  .li_text,.name_type_guard{
    line-height: 1.3rem;
    padding-bottom: 1.2% !important;
    margin-bottom: -1.6%;
  }
  .li_text{
    font-size: 1.15rem;
  }
  .name_type_guard{
    font-size: 1.1rem;
  }
  label{
    font-size: 1.15rem;
    margin-bottom: 0 !important;
  }
  #LandingPage{
    h2{
      font-size: 1.6rem;
    }
    #Home{
      .title_guard{
        padding: 4% 0 0 7%;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-left: -12%;
        text-shadow: -1px 3.5px 1px #02022a;
      }
      .slogan{
        font-size: 2rem;
        margin-left: -12%;
        padding: 5% 0 0 8%;
        line-height: 2.5rem;
      }
    }
    #Advantages{
      .textLandingPage{
        font-size: 1.15rem;
        line-height: 1.2rem;
        letter-spacing: -.5px;
      }
      .flex-container{
        margin-top: 3.5%;
        margin-left: -5%;
      }
      .flex-container > div {
        width: 31%;
        padding: 0.5%;
        margin: 1% 2% 1% 0;
      }
      svg{
        margin: 2.5% auto;
        width: 50px !important;
        height: 50px !important;
        padding: 0;
      }
    }
    #Type{
      height: 30vh;
      h2{
        font-size: 1.35rem !important;
        letter-spacing: -1.2px;
        left: 1.5%;
      }
      .textLandingPage{
        letter-spacing: -1.5px;
        font-size: 1.3rem;
      }
    }
    #Services {
      .textLandingPage {
        font-size: 1.3rem;
      }
    }
    #Import_numbers{
      .textLandingPage{
        font-size: 1.3rem;
        line-height: 1.3rem;
      }
      .number{font-size:4rem;}
      .flex-container{
        margin-left: 0 !important;
        margin-right: 0 !important;
        & > div{
          margin: 1.5% 2% 0.5% 2%;
        }
      }
    }
    #Feedback{
      h2{
        font-size: 2.25rem;
      }
      .textLandingPage{
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
      .call_telephone{
        font-size: 3rem;
      }
      .col-5{
        padding: 0 !important;
      }
    }
  }
  #company{
    .first_img {
      float: left;
      width: 40%;
      margin: 0 2% 0.5% 0;
    }
    svg{
      width: 60px;
      height: 60px;
    }
    ul{
      margin-left: -4.5% !important;
    }
    .flex-container > div {
      width: 48%;
      margin: 0 0.5% 1.2% 0.5% !important;
      img{
        height:145px;
        padding: 0 10%;
      }
      .col{
        padding-left: 5px !important;
      }
      .emphasized{
        margin-bottom: 0.25rem !important;
      }
      svg {
        float: left;
        margin-left: -15%;
        margin-top: 45%;
      }
    }
    .stage{
      p{margin-bottom: 0.5rem !important;}
    }
  }
  #tariffs{
    img{
      margin-top: 10%;
    }
  }
  #tariffs_content {
    table tr td:first-child {
      width: 35% !important;
    }
  }
  .services {
    .first_img {
      float: left;
      width: 40%;
      margin: 0 2% 0.5% 0;
    }
    svg{
      width: 40px;
      height: 42px;
    }
    .li_text{
      margin-bottom: -1%;
    }
    .varieties{
      margin-left: -6%;
    }
    .third_img{
      margin: 3% 2% 1% 2%;
    }
  }
  .services_with_types{
    .flex-container > div {
      .col-5 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        img {
          height: 140px;
          margin-bottom: 10%;
        }
      }
      ul {margin-left: -20%;}
    }
    .type_guard_beautiful_block{height: auto;}
    svg{margin-left: 0;}
  }
  #guard_of_organizations{
    .type_guard_beautiful_block:last-child{
      img{
        height: 200px;
        padding:2% 10% ;
      }
    }
  }
  .types_of_guard{
    .row .col:nth-child(2){
       ul {
        margin-left: -18%;
      }
    }
    .im_descr {
      img{width: 33%;}
    }
  }
  #technical_means{
    img{
      width: 40.5%;
      height: 71%;
      margin: 3% 2% 2% 0.8%;
    }
    ul{margin-left: -8%;}
  }
  #special_equipment{
    .first_img{width: 28%;}
    .flex-container > div {
      img{width: 23%;}
      .emphasized{padding-top: 0;}
    }
  }
  #licenses{
    .flex-container > img {width: 23%;}
    ol{
      margin-left: -1%;
      margin-bottom: 0.5rem !important;
    }
  }
  #our_clients{
    .flex-container > div {
      width: 31.25%;
      margin: 0 1% 0.5% 1% ;
    }
    .emphasized{padding-top: 3%;}
    p{margin-bottom: 0.25rem !important;}
  }
  #contact{
    h2{font-size: 1.6rem;}
    .col .col{margin-left: 4%;}
    .col-5{
      padding: 0;
      flex: 0 0 45% !important;
      max-width: 45% !important;
    }
  }
}
@media screen and (min-width: 1200px)and (max-width: 1400px) {
  .page{
    padding: 1.8rem 0 !important;
  }
  h1{
    font-size: 2rem;
    margin-bottom: 0.25rem;
  }
  h2,h3{
    font-size: 1.8rem;
  }
  h4{
    font-size: 1.3rem;
  }
  h6{
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .text{
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
  .text_descr{
    font-size: 1.15rem !important;
    line-height: 1.3rem !important;
  }
  .li_text,.name_type_guard{
    font-size: 1.25rem;
    line-height: 1.4rem;
    padding-bottom: 1.65% !important;
    margin-bottom: -1%;
  }
  #LandingPage{
    h2{
      font-size: 1.8rem;
    }
    #Home{
      .title_guard{
        padding: 4% 0 0 7%;
        margin-left: -10%;
        font-size: 3rem;
        line-height: 3rem;
        text-shadow: -1px 4.5px 1px #02022a;
      }
      .slogan{
        font-size: 2.5rem;
        margin-left: -8%;
        padding: 5% 0 0 8%;
        line-height: 3rem;
      }
    }
    #Advantages{
      .textLandingPage{
        font-size: 1.25rem;
        line-height: 1.3rem;
      }
    }
    #Type{
      height: 35vh;
      h2{
        font-size: 1.6rem !important;
      }
    }
    #Services {
      .textLandingPage {
        font-size: 1.4rem;
      }
    }
    #Import_numbers{
      .textLandingPage{
        font-size: 1.4rem;
        line-height: 1.4rem;
      }
      .number{font-size:4.5rem;}
      .flex-container{
        margin-left: 5.5% !important;
        margin-right: 5.5% !important;
        & > div{
          margin: 1.5% 2% 0.5% 2% !important;
        }
      }
    }
    #Feedback{
      h2{
        margin-top: 8%;
        font-size: 2.25rem;
      }
      .textLandingPage{
        font-size: 1.8rem;
        line-height: 2rem;
      }
      .call_telephone{
        font-size: 3.25rem;
      }
    }
  }
  #company{
    .first_img {
      float: left;
      width: 44%;
      margin: 0 2% 0.5% 0;
    }
    svg{
      width: 65px;
      height: 65px;
    }
    .flex-container > div {
      width: 32%;
      margin: 0 0.5% 1.2% 0.5% !important;
      svg {
        float: left;
        margin-left: -45%;
        margin-top: 130%;
      }
    }
  }
  #tariffs{
    img{
      margin-top: 3%;
    }
  }
  .services {
    .first_img {
      float: left;
      width: 44%;
      margin: 0 2% 0.5% 0;
    }
    svg{
      width: 45px;
      height: 46px;
    }
  }
  .types_of_guard{
    .im_descr { img{width: 35%;} }
  }
}
@media screen and (min-width:1400px) and (max-width: 1600px) {
  #LandingPage {
    #Type {
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }
}
